In [27]:
import statsmodels.api as sm
import pandas as pd

mtcars = sm.datasets.get_rdataset("mtcars", "datasets", cache=True).data
df = pd.DataFrame(mtcars)

In [25]:
df.head()

                    mpg cyl   disp   hp  drat     wt   qsec vs am gear carb
rownames
Mazda RX4          21.0   6  160.0  110  3.90  2.620  16.46  0  1    4    4
Mazda RX4 Wag      21.0   6  160.0  110  3.90  2.875  17.02  0  1    4    4
Datsun 710         22.8   4  108.0   93  3.85  2.320  18.61  1  1    4    1
Hornet 4 Drive     21.4   6  258.0  110  3.08  3.215  19.44  1  0    3    1
Hornet Sportabout  18.7   8  360.0  175  3.15  3.440  17.02  0  0    3    2

In [16]:
df["am"] = df["am"].astype(str)

df["vs"] = df["vs"].astype(str)

df["cyl"] = df["cyl"].astype(str)

df["carb"] = df["carb"].astype(str)

df['gear'] = df['gear'].astype(str)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     object
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     object
 8   am      32 non-null     object
 9   gear    32 non-null     object
 10  carb    32 non-null     object
dtypes: float64(5), int64(1), object(5)
memory usage: 3.0+ KB

In [36]:
import plotnine as p9

ModuleNotFoundError: No module named 'plotnine'

In [37]:
(p9.ggplot(data = df,
         mapping = p9.aes(x = 'mpg', y = 'am')) 
 + p9.geom_boxplot()
)

NameError: name 'p9' is not defined